* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: red;
}

.flag {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.red {
    background: red;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

.blue {
    background: blue;
    flex: 2;
    position: relative;
}
.circle {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.text {
    position: absolute;
    top: 10%;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}
